[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
pyqt5 = "*"
numpy = "==1.24.3"
requests = "*"
beautifulsoup4 = "*"
pyqt5-sip = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.11"
